/* All styles for your Card Components live here */
.card-container {
    margin-left: 12%;
    margin-right: 4%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.banner-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


