.action-btn {
    width: 75%;
    height: 20%;
    color: black;
    font-size: 30px;
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-btn {
    width: 25%;
    height: 20%;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;


}

.function-btn {
    width: 25%;
    height: 20%;
    border-bottom: 2px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: darkred;
    color: white;


}