.action-btn {
    width: 75%;
    height:45px;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-btn {
    width: 25%;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;


}

.function-btn {
    width: 25%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: darkred;
    color: white;


}